/***************************
EMAIL-FORM
***************************/

.email-form {
	input,
	textarea {
		border-radius: $br;
		outline: none;
		width: 100%;
		margin: em(10px) 0;
		padding-left: em(10px);
		border: none;
	}
	textarea {
		height: em(200px);
		resize: none;
	}
	input[type=text] {
		height: em(30px);
	}
}

#email-form {
	max-width: 600px;
	margin: 0 auto;
}

#email-button-container {
	@include mq(medium) {
		@include grid();
		grid-template-columns: repeat(2, 47.5%);
		grid-column-gap: 5%;
	}
}

.form-button {
	height : em(40px);
	background-color: $accent-color;
	width: 100%;
	border-radius: $br;
	margin: em(10px) 0;
	@extend %pointer;
	outline: none;
	transition: background-color $default__transition-time, box-shadow $default__transition-time;
	border: none;
	&:hover,
	&:focus,
	&:active {
		background-color: $primary-color;
		box-shadow: em(5px) em(5px) em(3px) $grey;
	}
}

.email-response-div {
	margin: 0 auto em(20px);
	@include border($width : em(2px), $color : $accent-color);
	border-radius: $br;
	padding: em(20px) 0;
	width: 100%;
	max-width: 600px;
	@extend %pointer;
}

.email-response-div,
input,
textarea {
	transition: box-shadow $default__transition-time;
	&:hover,
	&:focus {
		box-shadow: em(5px) em(5px) em(3px) $grey;
	}
}


