/***************************
FOOTER
***************************/

.main-footer {
	flex-shrink: 0;
	@extend %text-center;
	@include border($width : em(1px), $color : $accent-color, $side : top);
}

.footer-icon-Container {
	@include flexy($dir : row, $just : center);
}

.footer-icon {
	@extend %icon;
	width: em(30px);
	height: em(30px);
	margin: em(20px) em(20px) 0;
}

.footer-text {
	display: block;
	margin: em(20px) 0;
}

.footer-tel {
	margin: em(20px) auto;
	@include flexy($dir : row, $just : center, $align : center);
	width: em(150px);
	transition: color $default__transition-time;
	&:hover,
	&:active,
	&:focus {
		.tel-icon {
			fill: $black;
		}
		color: $black;
	}
}

.tel-icon {
	height: em(25px);
	width: em(25px);
	display: inline-block;
	fill: $accent-color;
	transition: fill $default__transition-time;
}

.site-author {
	@extend %pointer;
}


