/***************************
FACEBOOK-FEED
***************************/

.facebook {
	@extend %text-center;
}

.fb-page {
	@include border($width : $element__border-width, $color : $accent-color);
	border-radius: $br;
}

.fb-page, 
.fb-page span, 
.fb-page span iframe[style] { 
    width: 100% !important; 
	max-width: em(500px);
}



