/***************************
IMAGE-GALLERY
***************************/

#image-gallery {
	@extend %text-center;
	img {
		width: 100%;
		max-width: em(720px);
		display: inline-block;
		margin: 0 auto;
		@include border($width : $element__border-width, $color : $accent-color);
		border-radius: $br;
	}
}

#image-gallery-image {
	transition: opacity $default__transition-time;
	@extend %pointer; //set the curspor to pointer
}

.arrow {
	width: em(20px);
	height: em(20px);
	fill: $primary-color;
	border-radius: $br-round;
	transition: fill $default__transition-time, transform $default__transition-time, filter $default__transition-time;
	@extend %pointer;
	&:hover,
	&:active {
		fill: $accent-color;
		transform: scale(1.5);
	}
}

.back-arrow {
	&:hover,
	&:active {
		filter: drop-shadow(em(3px) em(3px) em(1px) $grey);
	}
}

.next-arrow {
	&:hover,
	&:active {
		filter: drop-shadow(em(-3px) em(3px) em(1px) $grey);
	}
}

//added to the image gallery control parent div dynamically with javascript
.imageGalleryImageSelectorContainer {
	@include flexy();
	width: 80%;
	max-width: 600px;
	margin: em(10px) auto;
}
//added to the image gallery control divs dynamically with javascript
.imageGalleryImageSelector {
	border-radius : $br-round;
	background-color: $primary-color;
	width: em(15px);
	height: em(15px);
	margin: em(2.5px) auto 0;
	@extend %pointer;
	transition: background $default__transition-time, transform $default__transition-time, filter $default__transition-time;
	filter: drop-shadow(em(0px) em(0px) $grey);
	&:hover,
	&:active {
		background-color: $accent-color;
		transform: scale(1.3);
//		filter: drop-shadow(em(5px) em(5px) em(2px) $grey);
	}
	&:nth-child(-n+5) {
		&:hover,
		&:active {
			filter: drop-shadow(em(5px) em(5px) em(2px) $grey);
		}
	}
	&:nth-child(n+6) {
		&:hover,
		&:active {
			filter: drop-shadow(em(-5px) em(5px) em(2px) $grey);
		}
	}
}

.currentGalleryImage {
	background-color: $accent-color;
}
